<%- include('../common/header') %>
<%- include('sidebar') %>
  <div class="admin-main-container-content">
    <div class="row justify-content-between">
      <div class="col-12 col-md-12">
        <div class="card mb-3">
          <h4 class="h4 text-center p-2 text-danger border-bottom fw-bolder">Wellcome to IDCG Adminstration</h4>
        </div>
      </div>
    </div>
    <a href="/admin/logout/" class="btn btn-danger">LogOut</a>

    <div class="container my-5">
      <div class="row justify-content-evenly">
        <div class="col-md-5 col-12">
          <div class="card bordered">
            <div class="card-body">
              <h4 class="card-title text-center">Recent Registered Users</h4>
            </div>
          </div>
        </div>
        <div class="col-md-5 col-12">
          <div class="card bordered">
            <div class="card-body">
              <h4 class="card-title text-center">News Letter</h4>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <%- include('../common/footer') %>