<%- include('./common/header') %>
<%- include('./common/navbar') %>

<!-- about -->
<div class="container-fluid py-md-5" id="about-page-container">
    <div class="container text-center p-md-5">
        <h4 class="text-danger fw-bolder">About Me</h4>

        <img src="/images/profile.jpg" class=" mx-auto d-block my-4" alt="..." style="height:200px; width:200px; border-radius:50%;">

        <p class="" style="text-align:justify;">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi mollitia eum deserunt. Unde rerum culpa quia molestias saepe expedita, iusto quos iste laudantium repellendus aspernatur tempora vero odio esse ullam?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi mollitia eum deserunt. Unde rerum culpa quia molestias saepe expedita, iusto quos iste laudantium repellendus aspernatur tempora vero odio esse ullam?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi mollitia eum deserunt. Unde rerum culpa quia molestias saepe expedita, iusto quos iste laudantium repellendus aspernatur tempora vero odio esse ullam?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi mollitia eum deserunt. Unde rerum culpa quia molestias saepe expedita, iusto quos iste laudantium repellendus aspernatur tempora vero odio esse ullam?
        </p>
    </div>
</div>

<%- include('./common/footerSection') %>
<%- include('./common/footer') %>
