<%- include('./common/header') %>
    <%- include('./common/navbar') %>

        <!-- about -->
        <div class="container-fluid mt-5 pt-5" id="about-page-container">
            <div class="container text-center p-md-5">
                <span class="text-danger fw-bolder fs-3">About Me</span>

                <img src="/images/profile.jpg" class=" mx-auto d-block my-4 shadow" alt="..."
                    style="height:200px; width:200px; border-radius:50%;">
                <div class="container">
                    <p class=" fs-5" style="text-align:justify;">
                        Hello! My name is Chandan Kumar, and I am the developer of This Application, <a href="/" class="text-decoration-none text-dark fw-bold">Id Card Generator</a> 
                        is a web application that allows users to create customized identity cards with QR-Code. The
                        purpose of the web-app is to make it easier for an organizations to create professional-looking
                        ID cards for their employees, students, or members with QR-Code.
                        QR-Code contains all the required information needed to indentify the identity of a student,employee, and member of an
                        organization such as name,roll-no.,course,department,address,contact,etc.
                    </p>
                    <p class="fs-5" style="text-align:justify;">
                        This web-application has been developed using HTML, CSS, BootStrap, and JavaScript for the
                        frontend, and NodeJs for the backend. It also uses MongoDB as the database to store user
                        information and ID card templates. I developed this application as part of my BCA Course using
                        NodeJs.
                    </p>
                    <p class="fs-5" style="text-align:justify;">
                        <a href="/" class="text-decoration-none text-dark fw-bold">Id Card Generator</a> is a user-friendly and intuitive application that allow an organization to
                        generate iden for their students, employees, and members easily by filling a form or by
                        uploading excel files that contains all ther requiered information.After uploading the excel
                        files it generates card and by clicking on download button you cand download the card. It was
                        designed with the end-user in mind, with a simple and intuitive interface that makes it easy to
                        navigate and use.
                    </p>
                    <p class="fs-5" style="text-align:justify;">
                        One of the key features of this application is it only shows some basic information about
                        /students/employees/members on the front page of card and hide all other information in a Qr
                        code located on back side of the card, and you can see those information by scanning the QR code
                        for more information using any Qr code Scanner application on your smartphone.
                    </p>
                    <p class="fs-5" style="text-align:justify;">
                        It has been developed with a strong focus on security and reliability. I have
                        taken great care to ensure that the application is safe from vulnerabilities and has been
                        thoroughly tested to ensure that it runs smoothly and without errors.
                    </p>
                    <p class="fs-5" style="text-align:justify;">
                        Overall, It is a powerful and reliable tool that is designed to generate good logging identity
                        cards with the Qr code. I am proud of the work I have done on this application and am confident
                        that it will provide great value to its users.
                    </p>
                </div>
                <div class="container-fluid pt-5">
                    <span class="d-block fw-bolder fs-3 border-3 border-bottom ">How to use...?</span>
                    <ol type="1" class="text-start py-3 fs-5">
                        <li class="">
                            First, you need to register yourself by entering email and password.
                        </li>
                        <li>
                            After registration wait until admin verifees your account.
                        </li>
                        <li>
                            Now,you can login into your account.
                        </li>
                        <li>
                            After login, you will get "generate card" menu in top navigation menu. Just click on "Generate Card" menu and choose any one option...If you have to generate single card then you can choose "individual" option.
                        </li>
                        <li>
                           Fill the form with required information and click on "Generate Card" if everything if fine then the card will be generated and you will show the preview with download button, by clicking the "Download" button you can download the generated card.
                        </li>
                    </ol>
                    <span class="fs-5 fw-bolder">Generating multiple cards.....</span>
                    <ol type="1" class="text-start py-3 fs-5">
                        <li class="">
                            Create an Excel file containing all the required information...the format of the excel file must be as shown below...
                        </li>
                    </ol>
                    <img src="/images/Demo.png" alt="" class="img-fluid">
                    <ol type="2" class="text-start py-3 fs-5">
                        <li class="">
                            The name of columns in header must be the same as the shown in image and order of columns must also be the same.
                        </li>
                        <li class="">
                            The "photo" column will contain the path of image/profile-photo stored on your computer.
                        </li>
                        <li class="">
                            You can insert path of an image by linking/hyperlinking the image by clicking on "insert" menu .
                        </li>
                        <li class="">
                            Extention of the excel file must be ".xlsx"(dot xlsx).
                        </li>
                    </ol>
                </div>
            </div>
        </div>

        <%- include('./common/footerSection') %>
            <%- include('./common/footer') %>
