<%- include('./common/header') %>
<%- include('./common/navbar') %>


<div class="container text-center" style="margin-top:5rem;"> 
    <h4 class="display-4 fw-bolder"> <%= message %> </h4>
</div>

<%- include('./common/footer') %>
