<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top border-bottom p-md-3">
    <div class="container-fluid">
        <a class="navbar-brand fs-5  fw-bolder" href="/">ID Card Generator</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link <%= home %> fs-5" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= about %> fs-5" href="/about">About</a>
                </li>
                <%
                    if (typeof user !== 'undefined'){
                %>
                    <li class="nav-item">
                        <a class="nav-link <%= idcard %> fs-5" href="/id-card-form">Generate Card</a>
                    </li>
                <%
                    }
                %>
            </ul>

            <% 
                if(typeof user === 'undefined'){
            %>        
                <div class="d-flex">
                    <a href="/user/register" class="btn btn-danger me-2">Register</a>
                    <a href="/user/login" class="btn btn-success">Login</a>
                </div>
            <%
                }
                else{
            %>
            <div class="d-flex">
                <div class="dropdown">
                    <span class="" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-user me-2"></i><%= user.name %> 
                    </span>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="/user/logout/">LogOut</a></li>
                      
                    </ul>
                </div>
            </div>

            <%
                }
            %>

            <!-- <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-danger" type="submit">Search</button>
            </form> -->
        </div>
    </div>
</nav>